.new-question-card {
    background-color: #fff;
    margin: 10px 0px;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.3);

    .options-group {
        padding-right: 50px;
    }
}