.survey-card {
    background-color: white;
    padding: 25px!important;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.10);
    border-radius: 8px;
    margin-bottom: 25px!important;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        transform: scale(1.01);
    }
}