@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

#header-container {
    padding: 15px;
    background-color: #fff;
    color: black;
    font-family: 'New Tegomin', serif;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.14), 0px 0px 40px rgba(0,0,0,0.04);

    #header {
        width: 95%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}